body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh; /* Подгоняем высоту под видимую область */
}

.container {
    display: flex;
    height: 100%; /* Подгонка по высоте */
}

.sidebar {
    width: 20%;
    padding: 10px;
    background-color: #2c2c2c;
    border-right: 1px solid #444;
    display: flex;
    flex-direction: column;
}

.user-list {
    flex-grow: 1; /* Заполняет пространство */
    overflow-y: auto; /* Прокручивать при избытке содержимого */
}

.chat-container {
    width: 80%;
    padding: 20px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    margin-bottom: -1px; /* Для соединения вкладок */
    position: relative; /* Относительно для создания эффекта выпуклости */
    background: #2c2c2c; /* Фон для создания визуального эффекта */
    border-radius: 5px 5px 0 0; /* Скругленные верхние углы для контейнера */
    z-index: 1;
}

.tab {
    padding: 10px;
    background-color: #444;
    color: white;
    cursor: pointer;
    border: 1px solid #666;
    border-bottom: none; /* Убираем нижнюю границу для эффекта выпуклости */
    border-radius: 10px 10px 0 0; /* Скругление верхних углов */
}

.tab.active {
    background-color: #666; /* Цвет активной вкладки */
    font-weight: bold; /* Жирный текст для активной вкладки */
}

.chat-output {
    flex-grow: 1; 
    position: relative; /* Для надежной работы с вложенными элементами */
    overflow-y: auto; /* Прокручивать при избытке содержимого */
    border: 1px solid #666;
    padding: 10px;
    background-color: #3a3a3a;
    color: white;
}

.private-message-output {
    max-height: 70%; /* Ограничиваем высоту диалога ЛС */
    overflow-y: auto; /* Прокручивать при избытке содержимого */
}

.input-area {
    display: flex; 
    margin-top: 10px;
}

.input-field {
    padding: 10px;
    background-color: #2c2c2c; 
    border: 1px solid #444;
    color: white;
    flex-grow: 1; /* Поле ввода занимает всю ширину */
}

button.send-button {
    background-color: #444; 
    color: white; 
    border: none; 
    cursor: pointer; 
    padding: 10px 20px; /* Увеличено для удобства */
}

button.back-button {
    background-color: #444; 
    color: white; 
    border: none; 
    cursor: pointer; 
    margin-bottom: 10px; 
    padding: 5px 10px; 
}

.controls {
    margin-top: 10px;
}

.volume-control, .sensitivity-control {
    margin-top: 10px;
}

/* Стили для громкости */
.volume-indicator {
    width: 100%;
    height: 10px;
    background-color: green; 
}

.user-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    background-color: black; 
}

.active {
    background-color: green; 
}

/* Стили для слайдеров */
input[type="range"] {
    -webkit-appearance: none; 
    width: 100%;
    height: 5px; 
    background: #444; 
    border-radius: 5px; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px; 
    height: 15px; 
    border-radius: 50%; 
    background: #888; 
    cursor: pointer; 
}

input[type="range"]::-moz-range-thumb {
    width: 15px; 
    height: 15px; 
    border-radius: 50%; 
    background: #888; 
    cursor: pointer; 
}

.private-message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.username-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
